.container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cat{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 91px;
  align-content: center;
  background: #fff;
}

.cat2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 91px;
  align-content: center;
  background: #fff;
}

.heading-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #ccc; */
  padding-bottom: 10px;
}

.heading-row h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.box {
   justify-content: flex-end;
  font-size: 16px;
  /* color: #f59e0b;   */
  /* font-weight: 500; */
  /* cursor: pointer; */
  /* margin: 0; */
   
}

 
